<div class="card">
    <div class="card-header">
        {{pageTitle}}
        <button class="btn btn-outline-primary btn-sm" style="width:120px; float:right;" (click)="addAdvert()">
            Add an Advert
        </button>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table mb-0" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Release Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.id]">
                            {{ product.productName }}
                            </a>
                        </td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price | currency:"R":"symbol":"1.2-2" }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <td>
                            <td>
                                <button class="btn btn-outline-primary btn-sm" style="width:80px;" [routerLink]="['/products', product.id, 'edit']">
                             Edit
                            </button>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
</div>